html, body {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

body {
    background-color: #FFFDF2;
}

nav {
    position: sticky;
    top: 0;
    height: 45px;
    background-image: linear-gradient(90deg, #FFE990, #D2C075);
    color: #5B5B00;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

nav img {
    height: 100%;

    transition: 200ms;
}

nav img:hover {
    scale: 105%;
}

nav .links {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 15px;
    font-size: 24px;
}

nav .links a {
    color: #5B5B00;
    text-decoration: none;

    transition: 200ms;
}

nav .links a:hover {
    text-decoration: dotted underline;
    scale: 105%;
}

#menu_button {
    display: none;
}

main {
    margin-top: 10px;
    width: 99.9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main #firstImage {
    width: 50%;
    border-radius: 35px;
    box-shadow: 5px 5px 10px 2px rgb(53, 53, 53);
}

section {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
}

section h1 {
    width: 99.8%;
    text-align: center;
    padding: 2px;
    font-size: 64px;
    color: #D7C500;
    background-image: linear-gradient(90deg, #fffbe1, #fff9d4);
}

section p {
    width: 80%;
    margin: 0;
    padding: 0;
    font-size: 24px;
    white-space: pre-line;
}

section li {
    font-size: 24px;
}

#gallery {
    position: relative;
    display: flex;
    overflow-x: hidden;
}

.gallery_images {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery_images img {
    width: 85%;
    height: 85%;
    max-width: 500px;
    max-height: 500px;
    transition: all 0.3s;
}

.gallery_images img:hover {
    scale: 125%;
}

#gallery a {
    position: absolute;
    top: 95%;
    left: 85%;
    font-size: 32px;
    color: #5B5B00;
    text-decoration: none;
}

#gallery a:hover {
    text-decoration: underline;
}

#contact p {
    width: auto;
}

footer {
    background-color: #ffe990;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_links {
    height: 85%;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

.social_links a {
    transition: all 0.3s;
}

.social_links:hover a:not(:hover) {
    filter: blur(5px);
    opacity: 0.5;
    transition: all 0.3s;
}

.social_links a:hover {
    scale: 110%;
}

.logo {
    height: 100%;
    
}

@media only screen and (max-width: 480px) {
    body {
        width: 100vw;
    }

    nav .links {
        background-image: linear-gradient(0deg, #FFE990, #D2C075);
        position: absolute;
        right: 0;
        top: 45px;
        flex-direction: column;
        margin: 0;
        padding: 1rem;
    }

    #menu_button {
        width: 32px;
        display: block;
        align-self: center;
        margin-right: 5px;
    }
    #menu_button img {
        width: 100%;
        left: 0;
    }

    main #firstImage {
        width: 80%;
    }

    .gallery_images {
        grid-template-columns: 1fr;
    }

    #gallery a {
        top: 93%;
        left: 65%;
        background-color: #b9b900;
        border-radius: 12px;
        padding: 5px;
    }

    #contact {
        overflow-x: hidden;
    }

    #contact iframe {
        display: none;
    }

    .mobile_hidden {
        display: none !important;
    }
}

.HIDDEN {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(0.2rem);
}

.SHOW {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

    transition: all 1s;
}
