html
{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #5c677d;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header_with_line
{
    color: white;
    width: 100%;
    height: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.header_with_line span
{
    background-color: #5c677d;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Nav */

nav
{
    height: 3rem;
    background-color: #023e7d;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-size: 1.5rem;
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 99;
}

nav img
{
    max-width: 100%;
    max-height: 100%;
}

nav .shallow_info
{
    display: flex;
    height: 100%;
    margin-right: auto;
    align-items: center;
    gap: 1rem;
}

nav .shallow_info a
{
    color: white;
    text-decoration: none;
}

nav .shallow_info a:hover
{
    text-decoration: none;
    color: white;
}

nav .shallow_info img
{
    max-height: 100%;
    height: 85%;
    border-radius: 50%;
    margin-right: auto;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

nav .shallow_info:hover img
{
    transform: rotate(360deg);
}

nav .links
{
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
}

nav a
{
    color: #7d8597;
    text-decoration: none;
}

nav a:hover
{
    color: #979dac;
    text-decoration: underline;
}

nav a:active
{
    color: #5c677d;
    text-decoration: underline dotted;
}

#menu_icon
{
    display: none;
    margin-right: 2rem;
}
#menu_icon img
{
    height: 8vw;
}

@media only screen and (max-width: 480px)
{
    nav
    {
        font-size: 1.15rem;
    }
    nav a
    {
        display: none;
    }
    nav .shallow_info a
    {
        display: block;
    }
    #menu_icon
    {
        display: block;
    }
}

.nav_menu
{
    display: none;
}

@media only screen and (max-width: 480px)
{
    .nav_menu
    {
        background-color: #023e7d;
        position: fixed;
        z-index: 999;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .75rem;
        top: 5%;
        right: 0;
        padding: 1%;
        border-bottom-left-radius: 25px;
        font-size: 2rem;
    }
    .nav_menu a
    {
        color: #979dac;
        background-color: #002855;
        text-decoration: none;
        padding: 7%;
        border-radius: 50px;
    }
    .nav_menu a:active
    {
        background-color: #001845;
    }
}

/* Card */

.card
{
    background-image: linear-gradient(to right, #023e7d, #002855);
    color: white;
    width: 80vw;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
    border-radius: 50px;
    box-shadow: 10px 10px 25px 1px black;
    transition: 100ms;
}
.card:hover
{
    box-shadow: 10px 10px 25px 5px black;
    transition: 100ms;
}

.card img
{
    max-width: 100%;
    max-height: 100%;
    height: 20vw;
    border-radius: 50%;
    transition: 100ms ease-in-out;
    transform: scale(95%);
    border: 3px solid #0466c8;
}
.card:hover img
{
    transform: scale(100%);
}

.card .info
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 4vw;
}

.card .info .links
{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card .info .links img
{
    height: 1%;
    cursor: pointer;
    transition: 100ms;
    background-color: black;
    width: 20%;
}
.card .info .links img:hover
{
    box-shadow: 0 0 7px 2px white;
    transition: 100ms;
    transform: scale(105%);
}
.card .info .links img:active
{
    transform: scale(95%);
}

/* Projects */

.projects
{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.project
{
    background-color: black;
    border: 4px solid black;
    border-image: linear-gradient(to right, #002855, #001845) 1;
    width: 28%;
    height: 28%;
    transition: 75ms;
}

.project:hover
{
    border-image: linear-gradient(to right, #0466c8, #0353a4) 1;
    box-shadow: 0 0 7px 1px white;
    transition: 75ms;
    transform: scale(110%);
    z-index: 9;
}

.project:active
{
    transform: scale(95%);
}

.project a
{
    position: relative;
    display: flex;
    justify-content: center;
}

.project a img
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.project a span
{
    position: absolute;
    color: white;
    margin-top: 1%;
    font-size: 1.8vw;
    background-image: linear-gradient(to right, #002855, #001845);
    padding: 1%;
    padding-left: 7%;
    padding-right: 7%;
}

.project a .creation_date
{
    margin-top: 44%;
}

@media only screen and (max-width: 480px)
{
    .projects
    {
        flex-direction: column;
        align-items: center;
    }
    .project
    {
        width: 80%;
    }
    .project a span
    {
        font-size: 3vw;
    }
    .project a .creation_date
    {
        margin-top: 47%;
    }
}

.skills
{
    font-size: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
    background-image: linear-gradient(to right, #023e7d, #002855);
    width: 80vw;
    margin: auto;
    padding: 4%;
    border-radius: 50px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 25px 1px black;
    transition: 100ms;
}
.skills:hover
{
    box-shadow: 10px 10px 25px 5px black;
    transition: 100ms;
}

.skills .skill
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    transition: 200ms;
}

.skills:hover .skill
{
    transform: scale(105%);
    transition: 200ms;
}

.skills .skill .skillProgressBar
{
    background-color: gray;
    width: 50vw;
    height: 3vw;
    border: 3px solid #001845;
    background-image: linear-gradient(to right, #0466c8, #0353a4)
}
.skillProgress
{
    background-image: linear-gradient(to right, green, lime);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

@media only screen and (max-width: 480px)
{
    .skills
    {
        gap: 5vw;
        font-size: 3vw;
    }
    .skillProgress
    {
        font-size: 2vw;
    }
}

.contact
{
    font-size: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    background-image: linear-gradient(to right, #023e7d, #002855);
    width: 80vw;
    margin: auto;
    padding: 4%;
    border-radius: 50px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 25px 1px black;
    transition: 100ms;
}
.contact:hover
{
    box-shadow: 10px 10px 25px 5px black;
    transition: 100ms;
}

.contact span
{
    transform: scale(100%);
    transition: 200ms;
}

.contact:hover span
{
    transform: scale(110%);
    transition: 200ms;
}

@media only screen and (max-width: 480px)
{
    .contact
    {
        font-size: 3.9vw;
    }
}